---
import BaseLayout from "../layouts/BaseLayout.astro";
import { info } from "../data/info";
import Contact from "../components/contact_section/Contact";
import About from "../components/about_section/About";
import Projects from "../components/projects_section/Projects";
import { Image } from "astro:assets";

const cursos = [
  {
    nome: "Desenvolvimento Backend - Estartando Devs",
    descricao: "Curso completo voltado para o desenvolvimento backend, cobrindo tecnologias e práticas como C#, .NET, Clean Architecture, GIT, SQL, NoSQL, Banco de Dados, API REST, Docker, Testes Unitários, Solid, Scrum e Treinamento de Soft Skills."
  },
  {
    nome: "Introdução ao Entity Framework Core - Desenvolvedor.io",
    descricao: "Curso introdutório ao Entity Framework Core, abordando mapeamento objeto-relacional, LINQ e consultas avançadas em bancos de dados."
  },
  {
    nome: "Curso Webmaster Front-End Completo - Danki Code",
    descricao: "Curso focado no desenvolvimento front-end, cobrindo HTML, CSS, JavaScript e boas práticas de design responsivo."
  },
  {
    nome: "Curso de Python Completo - Danki Code",
    descricao: "Curso introdutório e intermediário de Python, cobrindo lógica de programação, manipulação de dados e desenvolvimento de aplicações básicas."
  }
];

const allPosts = await Astro.glob("./posts/*.md");
---

<BaseLayout title="Home">
  <div class="container mx-auto px-4">
    <section class="lg:h-screen lg:m-0 my-20 mx-2 bg-primary dark:bg-dk-primary flex items-center justify-center" id="inicio">
      <div class="flex flex-col lg:flex-row justify-center items-center h-full space-y-4">
        <div class="profile-pic">
          <Image
            src={info.picture}
            alt={info.picture_alt}
            width={200}
            height={200}
            class="lg:h-96 lg:w-96 h-40 w-40 rounded-full object-fill object-center shadow-lg"
          />
        </div>

        <div class="flex flex-col lg:mx-8 leading-relaxed space-y-4 text-text dark:text-dk-text">
          <h1 class="text-3xl lg:text-5xl font-bold font-serif text-secondary dark:text-dk-secondary">
            Olá, eu sou <span class="bg-clip-text animate-pulse typewriter text-secondary dark:text-dk-secondary">{info.name}</span>
          </h1>
        </div>
      </div>
    </section>
    <section class="lg:m-0 my-20 mx-2 flex justify-center" id="sobre">
      <About about={info.about} client:visible />
    </section>
      
    <section id="cursos-metas" class="flex flex-col justify-center items-center h-full space-y-6 bg-background dark:bg-dk-primary p-8 rounded-lg shadow-lg scroll-mt-16 max-w-6xl mx-auto">

      <h1 class="text-4xl font-bold text-primary dark:text-dk-secondary mb-4">Cursos e Metas</h1>
      
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 w-full text-center"> 
        <div class="text-center">
          <h2 class="text-2xl font-semibold text-secondary dark:text-dk-secondary mb-4">Meus Cursos</h2>
          <div class="grid gap-4">
            {cursos.map((curso) => (
              <div class="group relative">
                <div class="bg-[#f5f5f5] dark:bg-[#0f0f0f] p-4 rounded-lg shadow-lg hover:shadow-xl transition-shadow">
                  <p class="text-lg text-text dark:text-dk-text cursor-help">{curso.nome}</p>
                  <div class="invisible group-hover:visible absolute z-10 w-80 p-2 mt-2 text-sm rounded-lg shadow-lg bg-[#f5f5f5] dark:bg-[#0f0f0f] text-text dark:text-dk-text transition-all duration-300 delay-1000">
                    {curso.descricao}
                  </div>
                </div>
              </div>
            ))}
          </div>
        </div>

        <div class="text-center">
          <h2 class="text-2xl font-semibold text-secondary dark:text-dk-secondary mb-4">Minhas Metas</h2>
          <div class="grid gap-4">
            {["Aperfeiçoar habilidades em C# .NET e Clean Architecture", 
            "Trabalhar em projetos pessoais ou acadêmicos", 
            "Concluir graduação em ADS", 
            "Conquistar meu primeiro emprego como Desenvolvedor de Software"].map((meta) => (
              <div class="bg-[#f5f5f5] dark:bg-[#0f0f0f] p-4 rounded-lg shadow-lg hover:shadow-xl transition-shadow">
                <p class="text-lg text-text dark:text-dk-text">{meta}</p>
              </div>
            ))}
          </div>
        </div>
      </div>

      <a href="/cursos-e-metas" class="bg-secondary text-white py-3 px-8 rounded-lg text-lg font-semibold transition duration-300 hover:bg-primary dark:hover:bg-dk-secondary mb-20 text-center">
        Saber Mais
      </a>
    </section>

    <section id="projetos" class="flex flex-col items-center max-w-6xl mx-auto my-20">
      <h2 class="text-3xl font-semibold text-secondary dark:text-dk-secondary mb-8">Projetos em Destaque</h2>
      
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 w-full mb-8">
        <div class="bg-[#f5f5f5] dark:bg-[#0f0f0f] p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow">
          <h3 class="text-xl font-semibold text-secondary dark:text-dk-secondary mb-2">Kognito</h3>
          <p class="text-lg text-text dark:text-dk-text mb-4">App Escolar para Neurodivergentes</p>
          <p class="text-sm text-text dark:text-dk-text mb-4">
            Plataforma educacional inclusiva com foco em alunos neurodivergentes, 
            desenvolvida com C#, .NET e Angular.
          </p>
        </div>
      </div>

      <div class="text-center w-full">
        <a href="/projetos" 
           class="inline-block bg-secondary text-white py-3 px-8 rounded-lg text-lg font-semibold transition duration-300 hover:bg-primary dark:hover:bg-dk-secondary">
          Ver Projetos
        </a>
      </div>
    </section>

    <section class="lg:h-screen lg:m-0 my-20 mx-2 flex-col flex justify-center items-center w-full bg-primary dark:bg-dk-primary" id="contato">
      <div class="flex flex-row justify-center items-center h-full space-y-4">
        <Contact contact={info.contact} size="lg" />
      </div>
    </section>
  </div>
</BaseLayout>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
      anchor.addEventListener('click', function (e) {
        e.preventDefault();
        const targetId = this.getAttribute('href')?.substring(1);
        if (targetId) {
          const targetElement = document.getElementById(targetId);
          if (targetElement) {
            targetElement.scrollIntoView({
              behavior: 'smooth',
              block: 'start'
            });
          }
        }
      });
    });
  });
</script>